In [240]:
import pandas as pd

In [241]:
df = pd.read_csv('C:\\Users\\Yazan\\Desktop\\psNo\\psps.csv', sep='\t' , encoding='utf-8')

In [242]:
df.rename(columns = {'phonesUncertain/0,"phonesUncertain/1","phonesUncertain/2","phonesUncertain/3","phonesUncertain/4","phonesUncertain/5","phonesUncertain/6","phonesUncertain/7","phonesUncertain/8","phonesUncertain/9","phonesUncertain/10","phonesUncertain/11","phonesUncertain/12","phonesUncertain/13","phonesUncertain/14","phonesUncertain/15","phonesUncertain/16","phonesUncertain/17","phonesUncertain/18","phonesUncertain/19","phonesUncertain/20","phonesUncertain/21","phonesUncertain/22","phonesUncertain/23","phonesUncertain/24","phonesUncertain/25","phonesUncertain/26","phonesUncertain/27","phonesUncertain/28","phonesUncertain/29","phonesUncertain/30"' : 'ZA' } ,inplace = True)

In [243]:
df.head()

                                                  ZA
0  009702951291,"009702951461","02-297645","02222...
1            2024-2008,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2  022291542,"0599210071",,,,,,,,,,,,,,,,,,,,,,,,...
3            2024-2008,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4             50017400,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [244]:
print(df['ZA'])

0       009702951291,"009702951461","02-297645","02222...
1                 2024-2008,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2       022291542,"0599210071",,,,,,,,,,,,,,,,,,,,,,,,...
3                 2024-2008,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4                  50017400,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
                              ...
2761                       ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2762    80131904,"+6553981","+6556619","0319.34009",,,...
2763                       ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2764                       ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2765                       ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Name: ZA, Length: 2766, dtype: object

In [245]:
df['ZA'].to_csv('PS_Lacked03.txt', sep="\n", index=False)

In [246]:
import re
file_path = 'PS_Lacked03.txt'
with open(file_path, 'r') as text_file:
    for line in text_file:
        # Use regular expression to match lines based on a pattern
#         if re.search(r'059', line, re.IGNORECASE):
#             print(line.strip())
               if line.startswith('+972'):
                     print(line.strip())