In [291]:
import pandas as pd

In [292]:
df = pd.read_csv('C:\\Users\\Yazan\\Desktop\\psNo\\business.csv', sep='\t' , encoding='utf-8')

In [293]:
df.rename(columns = {'Database of Registered Palestinian Companies / Businesses\n* Note: For calling Palestine from abroad, dial 00970-(followed by phone number with initial zero deleted).,,,,,,,,,,' : 'Yazan' } ,inplace = True)

In [294]:
df.head()

                                               Yazan
0  Economical\nOrganaization Name         Manager...
1  Al Marah Commercial and Induustrial Company,Gh...
2  Middle East Company,,022552545,,0599030084,,,"...
3           thoium ores",Excellent,Commercial,Hebron
4  Canaan International Group,Hesham Albakri,0262...

In [296]:
print(df['Yazan'])

0     Economical\nOrganaization Name         Manager...
1     Al Marah Commercial and Induustrial Company,Gh...
2     Middle East Company,,022552545,,0599030084,,,"...
3              thoium ores",Excellent,Commercial,Hebron
4     Canaan International Group,Hesham Albakri,0262...
5     Al-Etihad Ready Mixed Concrete Co.,Michael  S ...
6     Al-Jerashi Investment Group Co.,Khader  Nemer ...
7     Merg Al-Guzlan Concrete Co. Ltd.,,022746313,02...
8     Zalloum Co.For Construction. Ltd,Naeem A. Zall...
9     Al-Wakeel for Ready Mix Concreat,Louai T.J Jab...
10    Al-Ameer Real Estate & Investment Co.,Elyas Sh...
11    Alawdah Ready Mix Concrete,Fadi  S. M Ramadan,...
12    Al Qotob Co. For Ready Concrete,,092380488,092...
13    Abdul Rahman I A Alareh & Fadi A I Alareh,Abdu...
14    Al Dwaikat Ready Concrete Co.,,,,0569939747,,,...
15    Al Aabed Company for Construction Industries,A...
16    Al Halayqa Company for Construction and Contra...
17    Wahdan for Ready Cement Companny,Motasem Abu M...
18    International Co.,Akram  M.  J. Qandeel,022986...
19    Altarefe Ready mix Concrete Company,Jama  M.  ...
Name: Yazan, dtype: object

In [297]:
df['Yazan'].to_csv('PS_Lacked04.txt', sep="\n", index=False)

In [298]:
import re
file_path = 'PS_Lacked04.txt'
with open(file_path, 'r') as text_file:
    for line in text_file:
        # Use regular expression to match lines based on a pattern
        if re.search(r'059', line, re.IGNORECASE):
            print(line.strip())
#                if line.startswith(r'059'):
#                      print(line.strip())

Al Marah Commercial and Induustrial Company,Ghassan  N.  A. Jabarin,042414028,042414307,0599204590,,,Mining of ferrous metal ores,Excellent,Commercial,Jenin
"Middle East Company,,022552545,,0599030084,,,""Mining of nonferrous metal ores, except uranium and"
Al-Etihad Ready Mixed Concrete Co.,Michael  S M Jarad,022741004,022767969,0599353535,salimjarad@gmail.com,,Ready-made concrete,Excellent,Industrial,Bethlehem
Al-Jerashi Investment Group Co.,Khader  Nemer Abdallah AlJerashi,022744141,022740110,0599465464,jerashi@palnet.com,,,Special,Industrial,Bethlehem
Merg Al-Guzlan Concrete Co. Ltd.,,022746313,022746313,0598950422,ala_musleh@hotmail.com,,,Excellent,Industrial,Bethlehem
Zalloum Co.For Construction. Ltd,Naeem A. Zalloum,022233557,022233559,0599201535,free24pal@yahoo.com,,,Special,Industrial,Hebron
Al-Wakeel for Ready Mix Concreat,Louai T.J Jabari,022284244,022284243,0599774403,alza3em2005_7_@hotmail.com,,,Excellent,Industrial,Hebron
Al-Ameer Real Estate & Investment Co.,Elyas Sh.E Taha,022224324,022252561,0599209850,taha@yahoo.com,,,Special,Industrial,Hebron
Alawdah Ready Mix Concrete,Fadi  S. M Ramadan,022322123,022322124,059376002,fadialjerashi@yahoo.com,,,Excellent,Industrial,Jericho
Al Qotob Co. For Ready Concrete,,092380488,092380488,0599300084,,,,First,Industrial,Nablus
Abdul Rahman I A Alareh & Fadi A I Alareh,Abdul Rahman I A Alareh,023111889,023111889,0599719656,,,,Excellent,Industrial,Nablus
Al Aabed Company for Construction Industries,ABED A. A. SAMAMQA,022759025,022759027,0599292466,info@al-aabed.com,http://www.al-aabed.com,,Special,Industrial,North Hebron
Al Halayqa Company for Construction and Contracting,,022745757,022747805,0599299000,muhaned@halaika.com,,,Excellent,Industrial,North Hebron
International Co.,Akram  M.  J. Qandeel,022986039,022962608,0599258204,info@qandeel.ps,www.qandeel.ps,,Excellent,Industrial,Ramallah